/* osu! */
.osu:hover {
    background-color: #ff66aa;
    border: solid #ff66aa 2px;
}

/* Steam */
.steam:hover {
    background-color: #241f21;
    border: solid #241f21 2px;
}

/* Telegram */
.telega:hover {
    background-color: #23aaea;
    border: solid #23aaea 2px;
}

/* Last.fm */
.lastfm:hover {
    background-color: #d60801;
    border: solid #d60801 2px;
}

/* Genius */
.genius:hover {
    background-color: #e6d94b;
    border: solid #e6d94b 2px;
    color: #000000;
}

/* Spotify */
.spotify:hover {
    background-color: #1DB954;
    border: solid #1DB954 2px;
}

/* Reddit */
.reddit:hover {
    background-color: #ff4500;
    border: solid #ff4500 2px;
}

/* Kwork */
.kwork:hover {
    background-color: #ffa308;
    border: solid #ffa308 2px;
}

/* SoundCloud */
.soundcloud:hover {
    background-color: #ff7700;
    border: solid #ff7700 2px;
}

/* РЗТ (Риса за творчество) */
.rzt:hover {
    background-color: #000000;
    border: solid #000000 2px;
    color: #ffffff;
}
